# Python
__pycache__/
venv/
*.pyc
*.pyo
*.pyd

# Docker
.dockerignore
*.log
temp/
# System files Mac/Windows
.DS_Store
Thumbs.db

# SSL certificates (for development/local use)
nginx/certs/*.crt
nginx/certs/*.key